.sidebar{
    transition: width 0.8s ease;
    width: 25%;
    &.collapsed{
        width: 5%;
        text-align: center ;
        .btn-collapse{
            .fas{
                transform: rotate(180deg);
            }
        }
    }
    .sidebar-sticky{
        top: 0;
        height: calc(100vh - 104px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto;
        .btn-collapse{
            cursor: pointer;
            .fas{
                transition: transform 0.8s ease;
            }
        }
        button{
            min-width: 42px;
        }
    }
}
