.sidebar{
    transition: max-width 0.8s ease;
    max-width: 165px;
    .button-wrapper{
        width: 150px;
    }
    &.collapsed{
        max-width: 60px;
        text-align: center ;
        .btn-collapse{
            .fas{
                transform: rotate(180deg);
            }
        }
    }
    .sidebar-sticky{
        top: 0;
        height: calc(100vh - 104px);
        padding-top: .5rem;
        overflow: hidden;
        .btn-collapse{
            cursor: pointer;
            .fas{
                transition: transform 0.8s ease;
            }
        }
        button{
            min-width: 42px;
        }
    }
}
// Sidebar behavior for small devices
@media (max-width: 576px) {
    .sidebar{
        max-width: 100%;
        .button-wrapper{
            width: unset;
        }
        &.collapsed{
            max-width: 100%;
        }
        .sidebar-sticky{
            height: unset;
        }
    }
}