.pl-table {
    .row{ 
        align-items: center; 
    }
    .col{ 
        overflow: hidden; 
        text-overflow: ellipsis;
        &.name{
            flex-grow: 2;
        }
    }
    .pl-thead {
        font-weight: bold;
        border-bottom-width: 3px !important;
        &.tall {
            .col {
            align-self: stretch;
            }
        }
    }
    .pl-tbody {
        .row {
            cursor: pointer;
            &:hover{
                background-color: lightgray;
            }
        }
        &.scroll {
            max-height: calc(100vh - 200px);
            overflow-x: scroll;
        }
    }
}
// Table behavior for small devices
@media (max-width: 576px) {
    .pl-table{
        .pl-tbody{
            &.scroll{
                max-height: calc(100vh - 350px);
            }
        }
    }
}